<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title" *ngIf="(entity.Id)">
      {{ 'SYSTEM.PROCESS.UPDATE' | translate }}{{ 'TIME.RESOURCE.ENTITY.CONCEPT' | translate }}
    </h3>
    <h3 class="modal-title" *ngIf="!(entity.Id)">
      {{ 'SYSTEM.PROCESS.CREATE' | translate }}{{ 'TIME.RESOURCE.ENTITY.CONCEPT' | translate }}
    </h3>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="Submit()">
        <div class="form-group">
          <label for="name">{{ 'TIME.RESOURCE.ENTITY.NAME' | translate }}</label>
          <input type="text" class="form-control" id="Name" required [(ngModel)]="entity.Name" name="Name" >
        </div> 
        <div class="form-group">
          <label for="desc">{{ 'TIME.RESOURCE.ENTITY.DESC' | translate }}</label>
          <input type="text" class="form-control" id="Desc" required [(ngModel)]="entity.Desc" name="Desc" >
        </div> 
        <div class="form-group">
          <label for="year">{{ 'TIME.RESOURCE.ENTITY.YEAR' | translate }}</label>
          <input type="number" class="form-control" id="Year" required [(ngModel)]="entity.Year" name="Year" >
        </div> 
        <div class="form-group">
          <label for="areaName">{{ 'TIME.RESOURCE.ENTITY.AREA' | translate }}</label>
          <input type="text" class="form-control" id="AreaName" readonly value="{{ areaMaps.get(entity.AreaId) }}" name="AreaName" >
        </div> 
        <button type="submit" class="btn btn-success">{{ 'SYSTEM.PROCESS.SUBMIT' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</button>
      </form>
    </div>     
</clr-modal>   
