<clr-datagrid  (clrDgRefresh)="load($event)">
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.GENERAL.ID' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.TASK.NAME' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.TASK.DESC' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.TASK.STARTDATE' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.TASK.ENDDATE' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.TASK.STATUS' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}
    </ng-container>
  </clr-dg-column>
	<!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column> -->

  <clr-dg-row *ngFor="let task of tasks">
    <clr-dg-cell>{{task.Id}}</clr-dg-cell>
    <clr-dg-cell>{{task.Name}}</clr-dg-cell>
    <clr-dg-cell>{{task.Desc}}</clr-dg-cell>
    <clr-dg-cell>{{task.StartDate | date: 'yy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{task.EndDate | date: 'yy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{task.Status}}</clr-dg-cell>
    <clr-dg-cell>{{task.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <!-- <clr-dg-cell> -->
    <!--   <div class="btn-group btn-primary btn-icon"> -->
    <!--     <button (click)="openSaveModel(task.Id)" class="btn"> -->
    <!--       <clr-icon shape="wrench"></clr-icon> -->
    <!--       <span class="clr-icon-title"></span> -->
    <!--     </button> -->
    <!--   </div> -->
    <!-- </clr-dg-cell> -->  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSet.Size" [(clrDgPage)]="pageSet.Current" [clrDgTotalItems]="pageSet.Count">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.TASK.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
