<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title" *ngIf="(project.Id)">
      {{ 'SYSTEM.PROCESS.UPDATE' | translate }}{{ 'TIME.RESOURCE.PROJECT.CONCEPT' | translate }}
    </h3>
    <h3 class="modal-title" *ngIf="!(project.Id)">
      {{ 'SYSTEM.PROCESS.CREATE' | translate }}{{ 'TIME.RESOURCE.PROJECT.CONCEPT' | translate }}
    </h3>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="Submit()">
        <div class="form-group">
          <label for="QuestName">{{ 'TIME.RESOURCE.QUEST.CONCEPT' | translate }}</label>
          <input type="text" class="form-control" id="QuestName" readonly name="QuestName" value="{{project.Quest.Name}}" />
        </div> 
        <div class="form-group">
          <label for="Name">{{ 'TIME.RESOURCE.PROJECT.NAME' | translate }}</label>
          <input type="text" class="form-control" id="Name" required [(ngModel)]="project.Name" name="Name" >
        </div> 
        <div class="form-group" *ngIf="(tasks.length == 0)">
          <label>{{ 'TIME.RESOURCE.PROJECT.AREA' | translate }}</label>
          <div class="select">
            <label 
              for="QuestTargetId" aria-haspopup="true" role="tooltip" 
              [class.invalid]="QuestTargetId.invalid && (QuestTargetId.dirty || QuestTargetId.touched)"
              class="tooltip tooltip-validation tooltip-md tooltip-bottom-right"
            >
              <select id="QuestTargetId" #QuestTargetId="ngModel" [(ngModel)]="project.QuestTargetId" name="QuestTargetId" required>
                <option *ngFor="let key of getKeys(questTargetMaps)" [ngValue]="questTargetMaps.get(key).Id">
                  {{ questTargetMaps.get(key).Area.Name  }}
                </option>
              </select>
              <span class="tooltip-content">{{ 'TIME.RESOURCE.PROJECT.AREA' | translate }}{{ 'SYSTEM.TOOLTIP.EMPTY' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="form-group" *ngIf="(tasks.length != 0)">
          <label for="AreaName">{{ 'TIME.RESOURCE.PROJECT.AREA' | translate }}</label>
          <input type="text" class="form-control" id="AreaName" readonly name="AreaName" value="{{project.Area.Name}}" />
        </div>
        <div class="form-group">
          <label for="StartDate">{{ 'TIME.RESOURCE.PROJECT.STARTDATE' | translate }}</label>
          <input type="text" ej-datepicker dateFormat="yyyy/MM/dd" id="StartDate" name="StartDate" [readonly]="project.Id" required [(ngModel)]="project.StartDate" />
        </div>
        <button type="submit" class="btn btn-success">{{ 'SYSTEM.PROCESS.SUBMIT' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</button>
      </form>
    </div>     
</clr-modal>   
