<clr-datagrid  (clrDgRefresh)="load($event)">
  <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
  <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.DESC' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.YEAR' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.AREA' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.UPDATED' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let entity of entities">
    <!-- <clr-dg-cell>{{entity.Id}}</clr-dg-cell> -->
    <clr-dg-cell>{{entity.Name}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Desc}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Year}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Area.Name}}</clr-dg-cell>
    <clr-dg-cell>{{entity.UpdatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{entity.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary btn-icon">
        <button (click)="openSaveModel(entity.Id)" class="btn">
          <clr-icon shape="wrench"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button (click)="delete(entity)" class="btn btn-danger">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
      </div>
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.ENTITY.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<time-save-entity (save)="saved($event)"></time-save-entity>
