<clr-datagrid  (clrDgRefresh)="load($event)">
  <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
  <clr-dg-column>{{ 'TIME.RESOURCE.RESOURCE.NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.RESOURCE.DESC' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.RESOURCE.YEAR' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.RESOURCE.AREA' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.UPDATED' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let resource of resources">
    <!-- <clr-dg-cell>{{resource.Id}}</clr-dg-cell> -->
    <clr-dg-cell>{{resource.Name}}</clr-dg-cell>
    <clr-dg-cell>{{resource.Desc}}</clr-dg-cell>
    <clr-dg-cell>{{resource.Year}}</clr-dg-cell>
    <clr-dg-cell>{{resource.Area.Name}}</clr-dg-cell>
    <clr-dg-cell>{{resource.UpdatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{resource.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary btn-icon">
        <button (click)="openSaveModel(resource.Id)" class="btn">
          <clr-icon shape="wrench"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button (click)="delete(resource)" class="btn btn-danger">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
      </div>
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.RESOURCE.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<time-resource-save (save)="saved($event)"></time-resource-save>
