<clr-modal [(clrModalOpen)]="modelOpened">
  <h3 class="modal-title" >
    {{ 'SYSTEM.PROCESS.SYNC' | translate }}
  </h3>
  <div class="modal-body">
    <form #syncForm="ngForm" (ngSubmit)="Submit()">
      <div class="form-group">
        <label for="Asset">{{ 'QUANT.RESOURCE.CONFIG.ASSET' | translate }}</label>
        <div class="select">
          <select id="AssetString" [(ngModel)]="assetSource.AssetString" name="AssetString" required (ngModelChange)="AssetOnChange($event)" >
            <option *ngFor="let key of getKeys(assetMap)" [ngValue]=key>
              {{ "QUANT.ASSETS.TYPE." + assetMap.get(key) | translate }}
            </option>
          </select>
        </div>
      </div> 
      <div class="form-group">
        <label for="Type">{{ 'QUANT.RESOURCE.CONFIG.TYPE' | translate }}</label>
        <div class="select">
          <select id="Type" [(ngModel)]="assetSource.Type" name="Type" required (ngModelChange)="TypeOnChange($event)">
            <option *ngFor="let key of getKeys(typeMap)" [ngValue]=key>
              {{ typeMap.get(key) }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="Main">{{ 'QUANT.RESOURCE.CONFIG.MAIN' | translate }}</label>
        <div class="select">
          <select id="Main" [(ngModel)]="assetSource.Main" name="Main" required (ngModelChange)="MainOnChange($event)">
            <option *ngFor="let key of getKeys(mainMap)" [ngValue]=key>
              {{ mainMap.get(key) }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="Sub">{{ 'QUANT.RESOURCE.CONFIG.SUB' | translate }}</label>
        <div class="select">
          <select id="Sub" [(ngModel)]="assetSource.Sub" name="Sub" required >
            <option *ngFor="let key of getKeys(subMap)" [ngValue]=key>
              {{ subMap.get(key) }}
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success">{{ 'SYSTEM.PROCESS.SYNC' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="Cancel()">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</button>
    </form>
  </div>     
</clr-modal>   
