<clr-tabs>
	<clr-tab >
		<button (click)="refresh(0)" clrTabLink>日常</button>
    <clr-tab-content *clrIfActive="true">
      <tree 
        [tree]="tree"
        (nodeRemoved)="handleRemoved($event)"
        (nodeRenamed)="handleRenamed($event)"
        (nodeMoved)="handleMoved($event)"
        (nodeCreated)="handleCreated($event, 0)"
        (menuItemSelected)="handleCustom($event, 0)"
      ></tree>
    </clr-tab-content>
	</clr-tab>
	<clr-tab *ngFor="let key of getKeys(areaMap)">
		<button (click)="refresh(key)" clrTabLink>{{ areaMap.get(key) }}</button>
    <clr-tab-content *clrIfActive>
      <tree 
        [tree]="tree"
        (nodeRemoved)="handleRemoved($event)"
        (nodeRenamed)="handleRenamed($event)"
        (nodeMoved)="handleMoved($event)"
        (nodeCreated)="handleCreated($event, key)"
        (menuItemSelected)="handleCustom($event, key)"
      ></tree>
    </clr-tab-content>
	</clr-tab>
</clr-tabs>
