<button class="btn btn-primary" (click)="openSaveModel()">
  {{ "PROCESS.CREATE" | translate }}
</button>
<span class="refresh-btn" (click)="refresh()">
  <clr-icon shape="refresh"></clr-icon>
</span>
<clr-datagrid>
  <clr-dg-column>{{ 'RESOURCE.GENERAL.ID' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.POOL.NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.POOL.STATUS' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.POOL.STRATEGY' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.POOL.TYPE' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'RESOURCE.GENERAL.UPDATED' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let pool of pools">
      <clr-dg-cell>{{pool.Id}}</clr-dg-cell>
      <clr-dg-cell>{{pool.Name}}</clr-dg-cell>
      <clr-dg-cell>{{pool.Status}}</clr-dg-cell>
      <clr-dg-cell>{{pool.Strategy}}</clr-dg-cell>
      <clr-dg-cell>{{pool.Type}}</clr-dg-cell>
      <clr-dg-cell>{{pool.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
      <clr-dg-cell>{{pool.UpdatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
      <clr-dg-cell>
        <div class="btn-group btn-primary btn-icon">
          <button (click)="openSaveModel(pool.Id)" class="btn">
            <clr-icon shape="wrench"></clr-icon>
            <span class="clr-icon-title"></span>
          </button>
          <button (click)="delete(pool)" class="btn btn-danger">
            <clr-icon shape="trash"></clr-icon>
            <span class="clr-icon-title"></span>
          </button>
        </div>
      </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        / {{pagination.totalItems}} {{ 'RESOURCE.POOL.CONCEPT' | translate }}
      </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<save-pool (save)="saved($event)"></save-pool>
