<ej-schedule 
  id="ActionSchedule" 
  width="100%" 
  height="625px" 
  cellHeight="12.5px" 
  currentView="week" 
  timeMode="24"
  [currentDate]=currentDate
  [enableLoadOnDemand]="true"
  contextMenuSettings.enable=true 
  [appointmentSettings]=scheduleSettings
  [contextMenuSettings.menuItems]=scheduleMenuItems
  [appointmentSettings.dataSource]=scheduleData
  (beforeContextMenuOpen)="onContextMenuOpen($event)"
  (beforeAppointmentRemove)="actionDelete($event)"
  (menuItemClick)="onMenuItemClick($event)"
  (cellClick)="disable($event)"
  (cellDoubleClick)="disable($event)"

  [showQuickWindow]="false"
  [showAllDayRow]="false"

  [timeScale.enable]="true" 
  [timeScale.majorSlot]="60" 
  [timeScale.minorSlotCount]="4"

  timeZone="UTC +04:00" 

  [enableAppointmentResize]="true"
  (resizeStop)="updateTimeRange($event)"
  (dragStop)="updateTimeRange($event)"
  (appointmentClick)="actionShow($event)"
  (appointmentWindowOpen)="actionShow($event)"
>
</ej-schedule>

<time-action-save (save)="actionSaved($event)"></time-action-save>
