<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title" *ngIf="(field.Id)">
      {{ 'SYSTEM.PROCESS.UPDATE' | translate }}{{ 'TIME.RESOURCE.FIELD.CONCEPT' | translate }}
    </h3>
    <h3 class="modal-title" *ngIf="!(field.Id)">
      {{ 'SYSTEM.PROCESS.CREATE' | translate }}{{ 'TIME.RESOURCE.FIELD.CONCEPT' | translate }}
    </h3>
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="Submit()">
        <div class="form-group">
          <label for="Name">{{ 'TIME.RESOURCE.FIELD.NAME' | translate }}</label>
          <input type="text" class="form-control" id="Name" required [(ngModel)]="field.Name" name="Name" >
        </div> 
        <div class="form-group">
          <label for="Desc">{{ 'TIME.RESOURCE.FIELD.DESC' | translate }}</label>
          <input type="text" class="form-control" id="Desc" required [(ngModel)]="field.Desc" name="Desc" >
        </div> 
        <div class="form-group">
          <label for="Color">{{ 'TIME.RESOURCE.FIELD.COLOR' | translate }}</label>
          <input type="text" class="form-control" id="Color" required [(ngModel)]="field.Color" name="Color" >
        </div> 
        <button type="submit" class="btn btn-success">{{ 'SYSTEM.PROCESS.SUBMIT' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</button>
      </form>
    </div>     
</clr-modal>   
