<ej-gantt 
  id="GanttPanel" 
  [scheduleStartDate]="ganttStartDate" 
  [scheduleEndDate]="ganttEndDate"
  [dataSource]="data"
  [allowColumnResize]="true"
  taskIdMapping= "Id"
  taskNameMapping= "Name"
  childMapping="Children" 
  progressMapping="Progress" 
  durationMapping="Duration"
  resourceNameMappin="ResourceName"
  expandStateMapping="Expanded"
  parentTaskIdMapping="Parent"
  startDateMapping= "StartDate"
  endDateMapping="EndDate"
  [allowSelection]="true"
  selectionMode="row"
  rightTaskLabelMapping="Relate"
  [scheduleHeaderSettings]="ganttHeaderSettings"
  [enableVirtualization]="true"
  [treeColumnIndex]=treeColumnIndex  
  sizeSettings.height="600px" 
  sizeSettings.width="100%"
  [enableContextMenu]="true"
  [toolbarSettings]="toolbarSettings" 
  [editSettings]="editSettings"
  (contextMenuOpen)="onGanttContextMenuOpen($event)"
  (queryTaskbarInfo)="onGanttQueryTaskbarInfo($event)"
  (rowSelected)="onGanttRowSelected($event)"
  (load)="onGanttLoad($event)">
>
</ej-gantt>
  <!-- [allowGanttChartEditing]="true" -->
  <!-- [allowMultiSorting]="true" -->

<time-project-save (save)="projectSaved($event)"></time-project-save>
<time-task-save (save)="taskSaved($event)"></time-task-save>
<time-quest-save (save)="questSaved($event)"></time-quest-save>
