<clr-wizard #wizard [(clrWizardOpen)]="modelOpened">
    <clr-wizard-title *ngIf="(quest.Id)">
      {{ 'SYSTEM.PROCESS.UPDATE' | translate }}{{ 'TIME.RESOURCE.QUEST.CONCEPT' | translate }}
    </clr-wizard-title>
    <clr-wizard-title *ngIf="!(quest.Id)">
      {{ 'SYSTEM.PROCESS.CREATE' | translate }}{{ 'TIME.RESOURCE.QUEST.CONCEPT' | translate }}
    </clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{ 'SYSTEM.PROCESS.BACK' | translate }}</clr-wizard-button>
    <clr-wizard-button [type]="'next'">{{ 'SYSTEM.PROCESS.NEXT' | translate }}</clr-wizard-button>
    <clr-wizard-button (click)="finish()" [type]="'finish'">{{ 'SYSTEM.PROCESS.SUBMIT' | translate }}</clr-wizard-button>

    <clr-wizard-page
      [clrWizardPageNextDisabled]="!questForm.valid"
    >
      <ng-template clrPageTitle>基本</ng-template>
      <form #questForm="ngForm">
        <div class="form-group">
          <label>
            {{ 'TIME.RESOURCE.QUEST.NAME' | translate }}
          </label>
          <label 
            for="Name" aria-haspopup="true" role="tooltip" 
            [class.invalid]="Name.invalid && (Name.dirty || Name.touched)"
            class="tooltip tooltip-validation tooltip-md tooltip-bottom-right"
          >
            <input type="text" class="form-control" #Name="ngModel" id="Name" required [(ngModel)]="quest.Name" name="Name"/>
            <span class="tooltip-content">{{ 'TIME.RESOURCE.QUEST.NAME' | translate }}{{ 'SYSTEM.TOOLTIP.EMPTY' | translate }}</span>
          </label>
        </div> 
        <div class="form-block">
          <div class="form-group" *ngIf="(quest.Id) && (quest.Status != questRecruitStatus)">
            <label for="StartDate">{{ 'TIME.RESOURCE.QUEST.STARTDATE' | translate }}</label>
            <input type="text" ej-datepicker dateFormat="yyyy/MM/dd" id="StartDate" name="StartDate" required readonly [(ngModel)]="quest.StartDate" />
          </div>
          <div class="form-group">
            <label for="EndDate">{{ 'TIME.RESOURCE.QUEST.ENDDATE' | translate }}</label>
            <input type="text" ej-datepicker dateFormat="yyyy/MM/dd" id="EndDate" name="EndDate" required [(ngModel)]="quest.EndDate" />
          </div>
        </div>
        <div class="form-group">
          <label for="Founder">{{ 'TIME.RESOURCE.QUEST.FOUNDER' | translate }}</label>
          <input type="text" class="form-control" id="Founder" readonly name="Founder" value="{{ currentUser.Name }}" />
        </div> 
        <div class="form-group">
          <label>{{ 'TIME.RESOURCE.QUEST.MEMBERS' | translate }}</label>
          <div class="select">
            <label 
              for="Members" aria-haspopup="true" role="tooltip" 
              [class.invalid]="Members.invalid && (Members.dirty || Members.touched)"
              class="tooltip tooltip-validation tooltip-md tooltip-bottom-right"
            >
              <select id="Members" #Members="ngModel" [(ngModel)]="quest.Members" name="Members" required >
                <option *ngFor="let key of _.keys(membersMap)" [ngValue]="membersMap[key]">
                  {{ membersInfoMap[membersMap[key]] | translate }}
                </option>
              </select>
              <span class="tooltip-content">{{ 'TIME.RESOURCE.QUEST.MEMBERS' | translate }}{{ 'SYSTEM.TOOLTIP.EMPTY' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'TIME.RESOURCE.QUEST.CONSTRAINT' | translate }}</label>
          <div class="select">
            <label 
              for="Constraint" aria-haspopup="true" role="tooltip" 
              [class.invalid]="Constraint.invalid && (Constraint.dirty || Constraint.touched)"
              class="tooltip tooltip-validation tooltip-md tooltip-bottom-right"
            >
              <select id="Constraint" #Constraint="ngModel" [(ngModel)]="quest.Constraint" name="Constraint" required >
                <option *ngFor="let key of _.keys(constraintMap)" [ngValue]="constraintMap[key]">
                  {{ constraintInfoMap[constraintMap[key]] | translate }}
                </option>
              </select>
              <span class="tooltip-content">{{ 'TIME.RESOURCE.QUEST.CONSTRAINT' | translate }}{{ 'SYSTEM.TOOLTIP.EMPTY' | translate }}</span>
            </label>
          </div>
        </div>
      </form>
    </clr-wizard-page>

    <clr-wizard-page
      clrWizardPagePreventDefault="true"
      (clrWizardPagePrevious)="onPrevious()"
      (clrWizardPageOnCancel)="onCancel()"
      (clrWizardPageOnCommit)="onTargetCommit()"
    >
      <ng-template clrPageTitle>目标</ng-template>
      <div class="row">
        <div class="col-xs-12">
          <time-entity-tree-grid
            (selectEntity)="addTargetEntity($event)"
          >
            <clr-datagrid class="datagrid-compact">
              <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
              <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.NAME' | translate }}</clr-dg-column>
              <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.AREA' | translate }}</clr-dg-column>
              <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

              <clr-dg-row *ngFor="let entity of targetEntities">
                <!-- <clr-dg-cell>{{entity.Id}}</clr-dg-cell> -->
                <clr-dg-cell>{{entity.Name}}</clr-dg-cell>
                <clr-dg-cell>{{entity.Area.Name}}</clr-dg-cell>
                <clr-dg-cell>
                  <div class="btn-group btn-primary btn-icon">
                    <button (click)="deleteTargetEntity(entity)" class="btn btn-danger">
                      <clr-icon shape="trash"></clr-icon>
                      <span class="clr-icon-title"></span>
                    </button>
                  </div>
                </clr-dg-cell>  
              </clr-dg-row>
            </clr-datagrid>
          </time-entity-tree-grid>
        </div>
      </div>
    </clr-wizard-page>

    <!-- TODO 暂时忽略 -->
    <!-- <clr-wizard-page> -->
    <!--   <ng-template clrPageTitle>时间</ng-template> -->
    <!--   <ej-schedule --> 
    <!--     id="questTimeTable" --> 
    <!--     width="100%" --> 
    <!--     height="525px" --> 
    <!--     currentView="week" --> 
    <!--     currentDate="5/4/2014" -->
    <!--     [appointmentSettings.dataSource]="timeTableData" -->
    <!--   > -->
    <!--   </ej-schedule> -->
    <!-- </clr-wizard-page> -->
    <!-- <clr-wizard-page> -->
    <!--   <ng-template clrPageTitle>资源</ng-template> -->
    <!-- </clr-wizard-page> -->
    <!-- <clr-wizard-page> -->
    <!--   <ng-template clrPageTitle>团队</ng-template> -->
    <!-- </clr-wizard-page> -->
</clr-wizard>

<time-entity-save (save)="saved($event)"></time-entity-save>
