<clr-datagrid  (clrDgRefresh)="load($event)">
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.GENERAL.ID' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.ENTITY.NAME' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.ENTITY.DESC' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ENTITY.AREA' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.TREASURE.STATUS' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let entity of entities">
    <clr-dg-cell>{{entity.Id}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Name}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Desc}}</clr-dg-cell>
    <clr-dg-cell>{{entity.Area.Name}}</clr-dg-cell>
    <clr-dg-cell>
      <div *ngIf="(treasureMaps.get(entity.Id) != null)" class="progress-block">
        <div class="progress-group">
          <div [ngClass]="(treasureMaps.get(entity.Id).Status==1)?'progress danger':'progress success loop'" >
            <progress value="{{ treasureMaps.get(entity.Id).SumTime }}" max="{{ phaseMaps.get(treasureMaps.get(entity.Id).PhaseId).Threshold }}" data-displayval="...%"></progress>
          </div>
          <div class="row">
            <div class="col-xs-6">
              lv{{ phaseMaps.get(treasureMaps.get(entity.Id).PhaseId).Level }}:{{ phaseMaps.get(treasureMaps.get(entity.Id).PhaseId).Name }}
            </div>
            <div class="col-xs-6 text-right">
              {{ treasureMaps.get(entity.Id).SumTime }}/{{ phaseMaps.get(treasureMaps.get(entity.Id).PhaseId).Threshold }}
            </div>
          </div>
        </div>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary btn-icon">
        <button *ngIf="(treasureMaps.get(entity.Id) == null)" (click)="createTreasure(entity)" class="btn">
          <clr-icon shape="play"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button *ngIf="(treasureMaps.get(entity.Id) != null) && (treasureMaps.get(entity.Id).Status == 1)" (click)="execTreasure(entity)" class="btn btn-success">
          <clr-icon shape="plus-circle"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button *ngIf="(treasureMaps.get(entity.Id) != null) && (treasureMaps.get(entity.Id).SumTime == 0)" (click)="deleteTreasure(entity)" class="btn btn-danger">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
      </div>
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.ENTITY.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
