<button class="btn btn-primary" (click)="openSaveModel()">
  {{ "SYSTEM.PROCESS.CREATE" | translate }}
</button>
<span class="refresh-btn" (click)="refresh()">
  <clr-icon shape="refresh"></clr-icon>
</span>
<clr-datagrid  (clrDgRefresh)="load($event)">
  <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.MEMBERS' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.CONSTRAINT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.STATUS' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.STARTDATE' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.QUEST.ENDDATE' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let quest of quests">
    <!-- <clr-dg-cell>{{quest.Id}}</clr-dg-cell> -->
    <clr-dg-cell>{{quest.Name}}</clr-dg-cell>
    <clr-dg-cell>{{this.questSettings.MembersInfo[quest.Members]}}</clr-dg-cell>
    <clr-dg-cell>{{this.questSettings.ConstraintInfo[quest.Constraint]}}</clr-dg-cell>
    <clr-dg-cell>{{this.questSettings.StatusInfo[quest.Status]}}</clr-dg-cell>
    <clr-dg-cell>{{(quest.Status == questSettings.Status.Recruit) ? ('-') : (quest.StartDate | date: 'yyyy-MM-dd') }}</clr-dg-cell>
    <clr-dg-cell>{{quest.EndDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
    <clr-dg-cell>{{quest.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary btn-icon">
        <button *ngIf="(quest.Status == questSettings.Status.Recruit) || (quest.Status == questSettings.Status.Fail)" (click)="exec(quest)" class="btn">
          <clr-icon shape="play"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button *ngIf="(quest.Status == questSettings.Status.Exec)" (click)="finish(quest)" class="btn btn-success">
          <clr-icon shape="check"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button (click)="openSaveModel(quest)" class="btn">
          <clr-icon shape="wrench"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button (click)="openTeamList(quest.Id)" class="btn btn-success">
          <clr-icon shape="users"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button *ngIf="(quest.Status == questSettings.Status.Exec)" (click)="fail(quest)" class="btn btn-danger">
          <clr-icon shape="ban"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button *ngIf="(quest.Status == questSettings.Status.Recruit) || (quest.Status == questSettings.Status.Fail)" (click)="delete(quest)" class="btn btn-danger">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
      </div>
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.QUEST.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<time-quest-save (save)="saved($event)"></time-quest-save>
<time-quest-team-list></time-quest-team-list>
