<clr-modal [(clrModalOpen)]="modelOpened" [clrModalSize]="'xl'">
  <h3 class="modal-title">{{ 'TIME.RESOURCE.QUEST-TEAM.CONCEPT' | translate }}</h3>
    <div class="modal-body">
      <clr-datagrid  (clrDgRefresh)="load($event)">
        <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
        <clr-dg-column>{{ 'TIME.RESOURCE.QUEST-TEAM.USER' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'TIME.RESOURCE.QUEST-TEAM.STARTDATE' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'TIME.RESOURCE.QUEST-TEAM.ENDDATE' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column>

        <clr-dg-row *ngFor="let questTeam of questTeams">
          <!-- <clr-dg-cell>{{questTeam.Id}}</clr-dg-cell> -->
          <clr-dg-cell>{{userNameMap.get(questTeam.UserId)}}</clr-dg-cell>
          <clr-dg-cell>{{questTeam.StartDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
          <clr-dg-cell>{{questTeam.EndDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
          <clr-dg-cell>{{questTeam.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
          <clr-dg-cell>
            <!-- <div class="btn-group btn-primary btn-icon"> -->
            <!--   <button (click)="delete(questTeam)" class="btn btn-danger"> -->
            <!--     <clr-icon shape="trash"></clr-icon> -->
            <!--     <span class="clr-icon-title"></span> -->
            <!--   </button> -->
            <!-- </div> -->
          </clr-dg-cell>  
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            / {{pagination.totalItems}} {{ 'TIME.RESOURCE.QUEST-TEAM.CONCEPT' | translate }}
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    <div>
      <button type="button" class="btn btn-primary" (click)="modelOpened = false">{{ 'SYSTEM.PROCESS.CANCEL' | translate }}</button>
    </div>
  </div>
</clr-modal>
