<clr-datagrid  (clrDgRefresh)="load($event)">
  <clr-dg-column
    [clrDgField]="'Id'"
    [clrDgSortOrder]="preSorted"
  >
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.GENERAL.ID' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.QUEST_TEAM.USER' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.QUEST_TEAM.STARTDATE' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.QUEST_TEAM.ENDDATE' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *ngFor="let questTeam of questTeams">
    <clr-dg-cell>{{questTeam.Id}}</clr-dg-cell>
    <clr-dg-cell>{{userNameMap.get(questTeam.UserId)}}</clr-dg-cell>
    <clr-dg-cell>{{questTeam.StartDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
    <clr-dg-cell>{{questTeam.EndDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
    <clr-dg-cell>{{questTeam.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
      <!-- <div class="btn-group btn-primary btn-icon"> -->
      <!--   <button (click)="delete(questTeam)" class="btn btn-danger"> -->
      <!--     <clr-icon shape="trash"></clr-icon> -->
      <!--     <span class="clr-icon-title"></span> -->
      <!--   </button> -->
      <!-- </div> -->
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSet.Size" [(clrDgPage)]="pageSet.Current" [clrDgTotalItems]="pageSet.Count">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.QUEST_TEAM.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
