<clr-tabs>
	<clr-tab>
		<button (click)="refresh(areaFirstField)" clrTabLink>{{ areaFirstName }}</button>
		<clr-tab-content *clrIfActive="active">
			<div class="row">
				<div class="col-xs-3">
				</div>
				<div class="col-xs-9">
					<time-treasure-entity [currentField]="areaFirstField" [areaMaps]="areaMaps"></time-treasure-entity>
				</div>
			</div>
		</clr-tab-content>
	</clr-tab>
	<clr-tab *ngFor="let key of getKeys(areaMaps)">
		<button (click)="refresh(key)" clrTabLink>{{ areaMaps.get(key) }}</button>
		<clr-tab-content *clrIfActive>
			<div class="row">
				<div class="col-xs-3">
				</div>
				<div class="col-xs-9">
					<time-treasure-entity [currentField]="currentField" [areaMaps]="areaMaps"></time-treasure-entity>
				</div>
			</div>
		</clr-tab-content>
	</clr-tab>
</clr-tabs>
