<clr-datagrid  (clrDgRefresh)="load($event)">
  <!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.ID' | translate }}</clr-dg-column> -->
  <clr-dg-column>{{ 'TIME.RESOURCE.TASK.CONCEPT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.AREA.CONCEPT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.RESOURCE.CONCEPT' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ACTION.NAME' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ACTION.STARTDATE' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.ACTION.ENDDATE' | translate }}</clr-dg-column>
  <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}</clr-dg-column>
	<!-- <clr-dg-column>{{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}</clr-dg-column> -->

  <clr-dg-row *ngFor="let action of actions">
    <!-- <clr-dg-cell>{{action.Id}}</clr-dg-cell> -->
    <clr-dg-cell>{{action.Task.Name}}</clr-dg-cell>
    <clr-dg-cell>{{action.Area.Name}}</clr-dg-cell>
    <clr-dg-cell>{{action.Resource.Name}}</clr-dg-cell>
    <clr-dg-cell>{{action.Name}}</clr-dg-cell>
    <clr-dg-cell>{{action.StartDate | date: 'yy-MM-dd HH:mm'}}</clr-dg-cell>
    <clr-dg-cell>{{action.EndDate | date: 'yy-MM-dd HH:mm'}}</clr-dg-cell>
    <clr-dg-cell>{{action.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <!-- <clr-dg-cell> -->
    <!--   <div class="btn-group btn-primary btn-icon"> -->
    <!--     <button (click)="openSaveModel(action.Id)" class="btn"> -->
    <!--       <clr-icon shape="wrench"></clr-icon> -->
    <!--       <span class="clr-icon-title"></span> -->
    <!--     </button> -->
    <!--   </div> -->
    <!-- </clr-dg-cell> -->  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.ACTION.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
