<clr-main-container>
  <global-message [isAppLevel]="false"></global-message>
  <clr-header class="header-5 header">
    <div class="branding">
      <a href="javascript:void(0);" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ 'APP.TITLE' | translate }}</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript:void(0);" (click)="changeNav('flow')" [ngClass]="nav=='flow' ? 'active nav-link' : 'nav-link'" ><span class="nav-text">{{ 'FLOW.TITLE' | translate }}</span></a>
    </div>
    <div class="header-nav">
      <a href="javascript:void(0);" (click)="changeNav('time')" [ngClass]="nav=='time' ? 'active nav-link' : 'nav-link'" ><span class="nav-text">{{ 'TIME.TITLE' | translate }}</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
          <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
              {{ 'SYSTEM.USER.NAME' | translate }} 
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button type="button" (click)="logout()" clrDropdownItem>
                {{ 'SYSTEM.USER.SIGNOUT' | translate }} 
              </button>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
		<!-- <nav class="sidenav"> -->
		<!-- 	<shell-nav [nav]="nav" ></shell-nav> -->
		<!-- </nav> -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- TODO nav组件整合 -->
    <clr-vertical-nav *ngIf="(nav == 'flow')"  [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'FLOW.ASSETS.TYPE.STOCK' | translate }}
        <clr-vertical-nav-group-children>
          <a href="#" routerLink="/flow/stock/pool" class="nav-link">
            {{ 'FLOW.RESOURCE.POOL.CONCEPT' | translate }} 
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'FLOW.ASSETS.TYPE.CONFIG' | translate }}
        <clr-vertical-nav-group-children>
          <a href="#" routerLink="/flow/config/classify" class="nav-link">
            {{ 'FLOW.RESOURCE.CLASSIFY.CONCEPT' | translate }} 
          </a>
          <a href="#" routerLink="/flow/config/item" class="nav-link">
            {{ 'FLOW.RESOURCE.ITEM.CONCEPT' | translate }} 
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
    <clr-vertical-nav *ngIf="(nav == 'time')"  [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'TIME.ASSETS.TYPE.SCHEDULE' | translate }}
        <clr-vertical-nav-group-children>
          <a href="#" routerLink="/time/schedule/project" class="nav-link">
            {{ 'TIME.RESOURCE.PROJECT.CONCEPT' | translate }} 
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        {{ 'TIME.ASSETS.TYPE.CONFIG' | translate }}
        <clr-vertical-nav-group-children>
          <a href="#" routerLink="/time/config/country" class="nav-link">
            {{ 'TIME.RESOURCE.COUNTRY.CONCEPT' | translate }} 
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>
  </div>
</clr-main-container>
