<clr-main-container>
  <global-message [isAppLevel]="false"></global-message>
  <clr-header class="header-5 header">
    <div class="branding">
      <a href="javascript:void(0);" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ 'APP.TITLE' | translate }}</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript:void(0);" class="active nav-link"><span class="nav-text">{{ 'ASSETS.TYPE.STOCK' | translate }}</span></a>
    </div>
    <div class="header-nav">
      <a href="javascript:void(0);" class="nav-link"><span class="nav-text">{{ 'ASSETS.TYPE.CONFIG' | translate }}</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
          <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
              {{ 'SYSTEM.USER.NAME' | translate }} 
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button type="button" (click)="logout()" clrDropdownItem>
                {{ 'SYSTEM.USER.SIGNOUT' | translate }} 
              </button>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./pool" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        {{ 'RESOURCE.POOL.CONCEPT' | translate }} 
      </a>
      <a clrVerticalNavLink routerLink="./classify" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        {{ 'RESOURCE.CLASSIFY.CONCEPT' | translate }} 
      </a>
      <a clrVerticalNavLink routerLink="./item" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        {{ 'RESOURCE.ITEM.CONCEPT' | translate }} 
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
