<button class="btn btn-primary" (click)="openSaveModel()">
  {{ "SYSTEM.PROCESS.CREATE" | translate }}
</button>
<span class="refresh-btn" (click)="refresh()">
  <clr-icon shape="refresh"></clr-icon>
</span>
<clr-datagrid  (clrDgRefresh)="load($event)">
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: true}">
      {{ 'TIME.RESOURCE.GENERAL.ID' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column
    [clrDgField]="'Name'"
  >
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.COUNTRY.NAME' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.COUNTRY.ENNAME' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.GENERAL.CREATED' | translate }}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.GENERAL.UPDATED' | translate }}
    </ng-container>
  </clr-dg-column>
	<clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{ 'TIME.RESOURCE.GENERAL.OPERATION' | translate }}
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *ngFor="let country of countries">
    <clr-dg-cell>{{country.Id}}</clr-dg-cell>
    <clr-dg-cell>{{country.Name}}</clr-dg-cell>
    <clr-dg-cell>{{country.EnName}}</clr-dg-cell>
    <clr-dg-cell>{{country.CreatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{country.UpdatedAt | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary btn-icon">
        <button (click)="openSaveModel(country.Id)" class="btn">
          <clr-icon shape="wrench"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
        <button (click)="delete(country)" class="btn btn-danger">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title"></span>
        </button>
      </div>
    </clr-dg-cell>  
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSet.Size" [(clrDgPage)]="pageSet.Current" [clrDgTotalItems]="pageSet.Count">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      / {{pagination.totalItems}} {{ 'TIME.RESOURCE.COUNTRY.CONCEPT' | translate }}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<time-country-save (save)="saved($event)"></time-country-save>
